<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NHÃ NAM", "Index", "Home", new { area = "" }, new
           {
               @class = "navbar-brand",
               @style = "background-image: 'http://nhanam.com.vn/Content/images2/logo.png'"})
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Kho hàng", "Index", "ProDetails")</li>
                    <li>@Html.ActionLink("Đơn hàng", "Index", "Orders")</li>
                    <li>@Html.ActionLink("Khách hàng", "Index", "Customers")</li>
                    <li>@Html.ActionLink("Hàng hóa", "Index", "Product")</li>
                    <li>@Html.ActionLink("Nhà cung cấp", "Index", "Suppliers")</li>
                    <li>@Html.ActionLink("Loại hàng", "Index", "Categories")</li>
                    <li>@Html.ActionLink("Người quản trị", "Index", "Users")</li>
                </ul>
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year - Nhã Nam
                <a href="~/Views/Home/Index.cshtml">~/Views/Home/Index.cshtml</a> - Bởi vì sách là thế giới.
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>