@model NhaNam.Models.Cart

@{
    ViewBag.Title = "ShowCart";
}

<h2>GIỎ HÀNG</h2>
<h1> <button id="button-cancel" type="button" style="background: none; border: 0; top: 25px; color: #fff; display: block; height: 30px; line-height: 30px; position: absolute; right: 5px; width: 30px; "> X</button> </h1>

@if (Model != null)
{
    <div id="dialog-wrap">
        <div id="cart">
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tiêu đề</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Tổng cộng</th>
                        <th></th>
                    </tr>
                </thead>
        </div>
        <tbody>
    @foreach (var item in Model.Items)
    {
        decimal total = item._quantity * (decimal)item._proDetail.UnitPrice.Value;
        <tr>

            <td>@Html.DisplayFor(model => item._productName.ProName)</td>
            <td><img src="@Url.Content(item._productName.ProImage)" height="50" width="50" /></td>
            <td>@Html.DisplayFor(model => item._proDetail.UnitPrice)</td>
            <td>
                @using (Html.BeginForm("Update_Cart Quantity", "ShoppingCart"))
                {
                    <input type="hidden" value="@item._productId.ProID" name="idPro" />
                    <input type="number" value="@item._quantity" name="cartQuantity" />
                    <input type="submit" value="Update" />}
            </td>
            <td>@total</td>
            <td>
                <button class="delete">
                    <a href="/ShoppingCart/RemoveCart/@item._productId.ProID">Xóa</a>
                </button>
            </td>
        </tr>
    }
    </tbody>
        <tfoot>
            <tr>
                <td colspan="4" style="text-align:right"><strong>Tổng cộng: @Model.ToTal()</strong></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="4">
                    @using (Html.BeginForm("CheckOut", "ShoppingCart"))
                {
                    <table>
                        <tr>
                            <td>Tên khách hàng: </td>
                            <td><input type="number" name=</td>
                        </tr>
            </table>
                }
                </td>
            </tr>
            <td colspan="2" style="text-align: left; padding-left:12px"><strong style="color:red"></strong></td>
        </tfoot>
        <button class="continueshopping-btn" style=" background: none repeat scroll 0 0 #eee; color: #666;float:left"><a href="@Url.Action("Index","Product")">TIẾP TỤC MUA HÀNG </a></button>
        <button class="checkout-btn" style="background-color: #00870a; color: #fff; float: right;"><a href="@Url.Action("Checkout","ShoppingCart")"></a>THANH TOÁN ĐẶT HÀNG</button>
    </div>
    
    
}
else 
{
    @Html.Partial("EmtyCart") 

}
