@model NhaNam.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Khách hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CusPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CusPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CusEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CusEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.CusPhone }) |
    @Html.ActionLink("Danh sách", "Index")
</p>