@model NhaNam.Models.ProDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>QUẢN LÝ KHO HÀNG</h2>
<h3 style="color:blue">Chi tiết nhập hàng</h3>
<hr />

<dl>
    <dt>
        NHÀ CUNG CẤP
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Supplier.SupName)
    </dd>
    <dt>
        TÊN SẢN PHẨM
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Product.ProName)
    </dd>
    <dt>
        GIÁ BÌA
    </dt>

    <dd>
        @Html.DisplayFor(model => model.OldPrice)
    </dd>
    <dt>
        GIÁ NHÃ NAM
    </dt>

    <dd>
        @Html.DisplayFor(model => model.UnitPrice)
    </dd>

    <dt>
        SỐ LƯỢNG TỒN
    </dt>

    <dd>
        @Html.DisplayFor(model => model.RemainQuantity)
    </dd>

    <dt>
        SỐ LƯỢNG ĐÃ BÁN
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SoldQuantity)
    </dd>
</dl>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProDeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>