@model IEnumerable<NhaNam.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>QUẢN LÝ USERS</h2>
<h3>Danh sách Users</h3>

<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.Username }, new { @class = "btn btn-sm btn-success" }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.Username }, new { @class = "btn btn-sm btn-info" }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.Username }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
