@model NhaNam.Models.Supplier

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>QUẢN LÝ THÔNG TIN NHÀ CUNG CẤP</h2>
<h3 style="color:blue">Cập nhật nhà cung cấp</h3>
<hr />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SupID)

        <div class="form-group">
            <div class="control-label col-sm-2">TÊN NHÀ CUNG CẤP</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SupName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SupName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-sm-2">ĐỊA CHỈ</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
                @Html.ActionLink("Danh sách", "Index", null, new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}